<div>
    <label for="title" class="block mb-2 text-sm font-medium text-gray-300">موضوع</label>
    <input type="text" id="title" name="title" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="موضوع مطلب رو وارد کنید" required>
</div>
<div style="margin-top: 8px;">
    <label for="description" class="block mb-2 text-sm font-medium text-gray-300">توضیح کوتاه</label>
    <input type="text" id="description" name="description" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="توضیح کوتاه رو وارد کنید" required>
</div>

<div style="margin-top: 8px;">
    <label for="markdown" class="block mb-2 text-sm font-medium text-gray-300">مطلب</label>
    <textarea id="markdown" name="markdown" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="مطالب رو وارد کنید" required></textarea>
</div>
<div style="margin-top: 8px;">
    <label for="imageLink" class="block mb-2 text-sm font-medium text-gray-300">لینک عکس</label>
    <input type="text" id="imageLink" name="imageLink" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="لینک عکس موضوع رو وارد کنید" required>
</div>
<div style="display: block; margin-left: auto; margin-right: auto; margin-top: 5px;" class="g-recaptcha" data-sitekey="6LfwVwIfAAAAAJUcqWUVj7R0NMZ5va6Ulea22FF5"></div>
<div style="margin-top: 1em;">
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">ثبت</button>
<button type="button" onclick="clicked2()" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">بازگشت</button>
</div>