<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/output.css' />
  <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/6d201b1005.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">

<body class="bg-gray-900">
    <!--Navbar ================================================================================-->
   <header style="font-family: 'Lalezar', cursive;">
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
        <a href="/" class="flex items-center">
            <img src="/images/logo.png" class="mr-3 h-6 sm:h-10" alt="GuildedFa" />
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">گیلددفا</span>
        </a>
      
        <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
          <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">

          </ul>
        </div>
        </div>
 
      </nav>
   </header>
   <section style="font-family: 'Lalezar', cursive;">
    <div  style="box-sizing: border-box;width: auto;height: auto;padding: 30px; background-color: rgb(75 85 99); margin: auto; margin-top: 4em; width: 70%; height: 350px; border-radius: 20px 20px 20px 20px; padding: 5%; ">
      <div class="grid grid-cols-4 gap-4">

     
        <% if(isHavePfp){ %> 
          <div><img src="/images/users/avatars/<%-user.id%>.png" class="mr-3" style="width: 135px; height: 135px;" alt="GuildedFa" /></div>
          
          <% }else{ %>
            
            <div><img src="/images/user.png" class="mr-3" style="width: 135px; height: 135px;" alt="GuildedFa" /></div>
          <% } %> 
      <div style=" margin-top:2em ; color: white;" >
      <h1 style="font-size: 27px;"><%- user.username %></h1>
      <h3 style="font-size: 14px;"><%- user.email %></h3>

      </div>
    </div>

    <h1 style="text-align: center; color: white; font-size: 25px;">در باره من</h1>
    <hr style="opacity: 40%; margin-top: 20px; width: 120px; display: block; margin-left: auto; margin-right: auto; margin-top: -1px;">
    <% if(!user.bio){%>
      <p style="text-align: center; color: rgb(179, 179, 179);"> شما هیچ "درباره من" ثبت نکردید</p>
 <%}else{%>
  <p style="text-align: center; color: rgb(179, 179, 179);"><%-user.bio%></p>
  <% }%>
    </div> 

   </section>
  <!--=======================================================================================-->
</body>
<style>
    .rotate {
        animation: rotation 2s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(359deg);
        }
    }
</style>

</html>